/*custom fonts*/

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

/*Global style*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --main-font: 'Roboto Condensed', sans-serif;
    --secondary-font: 'VT323', monospace;
    --body-font: 'Fira Sans Extra Condensed', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c6e02e;
    --body-font-color: #41B3A3;
    --main-body-color: #41B3A3;
    --secondary-body-color: #8bc9c4;
    --third-body-color: #E27D60;
}

body {
    font-family: var(--main-font);
    background-color: var(--secondary-body-color);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    height: 10vh;
    background: var(--body-font-color);
}

.logo {
    color: white;
    margin-left: auto;
    letter-spacing: 2.5px;
    font-size: 30px;
}

.logo a {
    text-decoration: none;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-profile img {
    width: 300px;
    height: 300px;
}

.description {
    margin: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description h2 {
    font: var(--main-font);
    font-size: 25px;
    color: white;
}

.description h1 {
    font-size: 50px;
    color: #006e56;
}

.description .icon {
    position: relative;
    margin-top: 1rem;
    /* z-index: -1; */
}

.description .icon a {
    padding: 0.6rem;
    text-decoration: none;
    color: var(--main-body-color);
}

.description .icon a:hover {
    color: var(--third-body-color);
    transition: all 0.5s ease-out;
}

.description a.btn-download-cv {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0.625em 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    background-color: var(--third-body-color);
}

.description a.btn-download-cv:hover {
    border-color: rgba(255, 255, 255, 1);
}

@media screen and (max-width:768px) {
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    nav {
        position: relative;
        align-items: stretch;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 3;
    }
    .logo {
        font-size: 20px;
        margin-top: auto;
        margin-right: auto;
        margin-bottom: auto;
    }
    .nav-links {
        position: fixed;
        background: var(--body-font-color);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1080px at 90% -10%);
        -webkit-clip-path: circle(1080px at 90% -10%);
        pointer-events: all;
    }
    .landing {
        display: flex;
        flex-direction: column-reverse;
        /* word-spacing: -.25rem; */
        padding: -5px;
        /* font-size: 0; */
        /* justify-content: center; */
    }
    .image-profile {
        float: left;
        margin: 0;
        padding: 0;
        /* background-color: red; */
    }
    .image-profile img {
        width: 200px;
        height: 200px;
        /* background-color: red; */
    }
    .description {
        margin-top: 0;
        text-align: center;
    }
    .description h1 {
        /* margin-top: auto; */
        /* background-color: red; */
        /* justify-content: center; */
        font-size: 35px;
    }
    .description h2 {
        font-size: 13px;
        letter-spacing: 1px;
    }
    .description .icon {
        position: absolute;
        justify-content: center;
        /* display: inline-block;
        width: 100%; */
        /* text-align: center; */
        /* margin-left: -60; */
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    li.fade {
        opacity: 1;
    }
}