/*custom fonts*/

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

/*Global style*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --main-font: 'Roboto Condensed', sans-serif;
    --secondary-font: 'VT323', monospace;
    --body-font: 'Fira Sans Extra Condensed', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c6e02e;
    --body-font-color: #41B3A3;
    --main-body-color: #41B3A3;
    --secondary-body-color: #8bc9c4;
    --third-body-color: #E27D60;
}

body {
    font-family: var(--main-font);
    background-color: var(--secondary-body-color);
}

nav {
    height: 10vh;
    background: var(--body-font-color);
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing img {
    width: 300px;
    height: 300px;
}

.description {
    margin: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description h2 {
    font: var(--main-font);
    font-size: 25px;
    color: white;
}

.description h1 {
    font-size: 50px;
    color: var(--main-body-color);
}

.description .icon {
    position: relative;
    margin-top: 1rem;
}

.description .icon a {
    padding: 0.6rem;
    text-decoration: none;
    color: var(--main-body-color);
}

.description .icon a:hover {
    color: var(--third-body-color);
    transition: all 0.5s ease-out;
}

@media screen and (max-width:768px) {
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    nav {
        position: relative;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 3;
    }
    .nav-links {
        position: fixed;
        background: var(--body-font-color);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1080px at 90% -10%);
        -webkit-clip-path: circle(1080px at 90% -10%);
        pointer-events: all;
    }
    .landing {
        flex-direction: column-reverse;
    }
    .landing img {
        width: 200px;
        height: 200px;
    }
    .description h1 {
        font-size: 40px;
    }
    .description h2 {
        font-size: 15px;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    li.fade {
        opacity: 1;
    }
}